html, body {
    max-width: 100%;
    overflow-x: hidden;
}

header{
	border-bottom: 3px solid #6C1010; 
	background-image: url("../img/dark-bg10.png");
    background-repeat: repeat;
}

.my_header_address a:link, .my_header_address a:visited, .my_phone_num a:link, .my_phone_num a:visited{
	color: #e5e5e5;
}

.my_header_address a:hover, .my_header_address a:active, .my_phone_num a:hover, .my_phone_num a:active{
	color: #FFF;
}

.my_header_address, .my_phone_num {
  font-size: calc(9px + 0.4vw);
  font-family: 'helvatica', serif;
  color: #f2f2f2;
}

.my_call_us, .my_gps_icon{
	color: #cc0000;
	opacity: 0.9;
}

.my_city{
	font-size: calc(5px + 0.5vw);
}

nav{
	border-top: 1px solid #383838;
}

.my_logo{
	-webkit-filter: contrast(200%);
	-webkit-filter: brightness(100%); 
}

.nav-link{
	/*opacity: 0.8;*/
	color: white;
}

br{
    line-height: 0.5;
}