.my_service_home_form_input{
	max-width: 1000px;
	background: rgba(0, 0, 0, 0.5);
}

.my_service_home{
	background-image: url("../img/engine_n.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.my_service_home input{
	height: 30px;
}