.social-icons li{
      display: inline;
    }

/**************************************HEADER SOCIAL MEDIA ICONS*************************************/
/*.fa {
  padding: 7px;
  font-size: 15px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
  border-radius: 35%;
}

    .fa:hover, .fa:focus {
      transition: 0.7s
    }

.fa-facebook {
  background: #3B5998;
  color: white;
}

    .fa-facebook:hover, .fa-facebook:focus {
      background: #EEE9E9;
      color: #3B5998;
    }

.fa-twitter {
  background: #55ACEE;
  color: white;
}

    .fa-twitter:hover, .fa-twitter:focus{
      background: white;
      color: #55ACEE;
    }

header .fa-instagram {
  color: #EEE9E9 ;
  background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
}

  .fa-instagram:hover, .fa-instagram:focus{
    color: #f15245;
    background: #FFF;
  }

header .fa-envelope {
  color: #EEE9E9 ;
  background: #f15245;
}

  .fa-envelope:hover, .fa-envelope:focus{
    color: #f15245;
    background: #EEE9E9;
  }*/

.fa {
  padding: 7px;
  font-size: 15px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
  border-radius: 70%;
}

    .fa:hover, .fa:focus {
      transition: 0.7s
    }

.fa-facebook, .fa-twitter, .fa-instagram, .fa-envelope {
  /*background: #3B5998;*/
  /*border: 1px solid #990000;*/
  color: #cc0000;
  opacity: 0.9;
}

    .fa-facebook:hover, .fa-facebook:focus {
      background: #EEE9E9;
      color: #3B5998;
    }


    .fa-twitter:hover, .fa-twitter:focus{
      background: white;
      color: #55ACEE;
    }

  .fa-instagram:hover, .fa-instagram:focus{
    color: #f15245;
    background: #FFF;
  }

  .fa-envelope:hover, .fa-envelope:focus{
    color: #f15245;
    background: #EEE9E9;
  }

  /*Footer*****************************************/
footer .fa {
  border: 1px solid #848484;
  color: #848484;
}

  footer .fa-facebook:hover, footer .fa-facebook:focus {
      color: #330000;
      background-color: #848484;
      border: 1px solid #330000;
    }


  footer .fa-twitter:hover, footer .fa-twitter:focus{
      color: #330000;
      background-color: #848484;
      border: 1px solid #330000;
    }

  footer .fa-instagram:hover, footer .fa-instagram:focus{
    color: #330000;
    background-color: #848484;
    border: 1px solid #330000;
  }

  footer .fa-envelope:hover, footer .fa-envelope:focus{
    color: #330000;
    background-color: #848484;
    border: 1px solid #330000;
  }