.social-icons li{
      display: inline;
    }

/**************************************HEADER SOCIAL MEDIA ICONS*************************************/
.fa {
  padding: 7px;
  font-size: 15px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
  border-radius: 35%;
}

    .fa:hover, .fa:focus {
      transition: 0.7s
    }

.fa-facebook {
  background: #3B5998;
  color: white;
}

    .fa-facebook:hover, .fa-facebook:focus {
      background: #EEE9E9;
      color: #3B5998;
    }

.fa-twitter {
  background: #55ACEE;
  color: white;
}

    .fa-twitter:hover, .fa-twitter:focus{
      background: white;
      color: #55ACEE;
    }

header .fa-instagram {
  color: #EEE9E9 ;
  background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
}

  .fa-instagram:hover, .fa-instagram:focus{
    color: #f15245;
    background: #FFF;
  }

header .fa-envelope {
  color: #EEE9E9 ;
  background: #f15245;
}

  .fa-envelope:hover, .fa-envelope:focus{
    color: #f15245;
    background: #EEE9E9;
  }