.underline {
  height: 3px;
  background-color: transparent;
  width: 0%;
  transition: width 0.2s, background-color 0.5s;
  margin: 0 auto;
}

.underline {
  width: 100%;
}

.navbar-nav li:hover .underline {
  background-color: black;
  width: 100%;
}

.navbar-nav li:hover a {
}

.navbar-nav li:active a {
  transition: none;
  color: rgba(255,255,255,0.76);
}

.navbar-nav li:active .underline {
  transition: none;
  background-color: rgba(255,255,255,0.76);
}